numpy>=1.21.2
parmed>=3.4.3
six>=1.16.0
cudatoolkit>=11.1.1
pytorch>=1.11.0
bs4>=4.9.3
mechanize>=0.4.7
psutil>=5.8.0
wget
unzip
ase>=3.22.1
matplotlib>=3.5.0
jupyter
pymol-open-source>=2.5.0
rdkit>=2021.03.4
spyrmsd>=0.5.2
smina>=2020.12.10
openbabel>=3.1.1
xgboost>=1.5.1
seaborn>=0.12.0
memoizaton>=0.3.2
scikit-learn>=1.1.2
scikit-posthocs>=0.7.0
joblib>=1.1.0
orange3>=3.32.0
statannot>=0.2.3
